.cmntSection::-webkit-scrollbar {
  display: none;
}

.comment_btn {
    padding: 5px 15px;
    width: max-content;
    font-size: 13px;
}

.comment_btn:nth-child(2) {
    /* background: #000; */
    
    border-radius: 25px;
}